@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    color: #f0f0f0;
}

body {
    background-color: #080c27;
}

.main-background {
    background-image: url("../imagenes/background.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.6)
}


h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.font-montserrat a {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.hero-background {
    background-image: url("../imagenes/heroimage.jpg");
    background-size: cover;
    background-blend-mode: overlay;
}

.titulo-encabezado {
    background-image: url("../imagenes/atardecer_encabezado.jpg");
    background-size: cover;
    background-blend-mode: overlay;
    background-position: bottom center;
}

.fondo-noche-roja {
    background-image: url("../imagenes/red_night_background.jpg");
    background-size: contain;
    background-blend-mode: multiply;
    background-position: bottom center;
}

.titulo-encabezado h1 {
    font-family: 'Lora', sans-serif;
    font-weight: bold;
}

@keyframes my-ping {

    50%,
    100% {
        transform: scale(1.10);
        opacity: 0;
    }
}

.animate-my-ping {
    animation: my-ping 3s ease-in-out infinite;
}